.private-channel-message
  = image_tag("private_large.png", :alt => "This channel is private", :size => "117x110")
  %p
    This channel is private.
    %br/
    %br/
    You need to request access to view any videos in this channel.