%div{:lang => "en", :style => "color:#202020;width:90%"}
  %div{:style => "padding:4px;padding-left:10px;background-color:#202020;-webkit-border-top-left-radius: 6px;-webkit-border-top-right-radius: 6px;-moz-border-radius-topleft: 6px;-moz-border-radius-topright: 6px;border-top-left-radius: 6px;border-top-right-radius: 6px;box-shadow: #555 0px 1px 8px;-moz-box-shadow: #555 0px 1px 8px;-webkit-box-shadow: #555 0px 1px 8px;"}
    %a{:href => "http://brevidy.com", :style => "color:#FFF", :target => "_blank"}
      %img{:alt => "Brevidy - The soul of video", :src => "#{Brevidy::Application::S3_BASE_URL}/images/emails/brevidylogo.png", :style => "display:block;border:0"}/
  %div{:style => "background-color:#505050;height:4px;"}
    / placeholder
  %div{:style => "padding:14px;padding-bottom:2px;background-color:#f2f2f2;font-family:'Helvetica Neue', Arial, Helvetica, sans-serif;font-size:13px;-webkit-border-bottom-left-radius: 6px;-webkit-border-bottom-right-radius: 6px;-moz-border-radius-bottomleft: 6px;-moz-border-radius-bottomright: 6px;border-bottom-left-radius: 6px;border-bottom-right-radius: 6px;box-shadow: #555 0px 1px 8px;-moz-box-shadow: #555 0px 1px 8px;-webkit-box-shadow: #555 0px 1px 8px;"}
    %h2{:style => "font-family:'Helvetica Neue', Arial, Helvetica, sans-serif;margin:0 0 16px;font-size:16px;font-weight:normal"}
      Hi #{@user.name},
    %p
      Welcome to Brevidy!  Please confirm your account by clicking this link:
      %br
        %a{:href => "#{@url}"} #{@url}
    %p
      Once you confirm, all future notifications will be sent to this email address.
    %p{:style => "font-family:'Helvetica Neue', Arial, Helvetica, sans-serif;font-size:13px;line-height:18px;border-bottom: 1px dotted #808080;padding-bottom:10px;margin-bottom:5px"}
      Sincerely,
      %br/
      The Brevidy Team
    %p{:style => "font-family:'Helvetica Neue', Arial, Helvetica, sans-serif;font-size:10px;color:#808080;margin-top:5px;"}
      Please do not reply to this message; it was sent from an unmonitored email address.