Hey #{@user_first_name},
\
I wanted to take a minute to personally e-mail you about the new Brevidy re-design (new feature highlights here: http://tumblr.com/Zcq4zwF_tgBB).  If you have a minute, go check it out and let me know your thoughts:  #{@user_url}
\
Keep in mind this is just the first step on our roadmap to make Brevidy into something amazing.  If you have any questions, concerns, ideas, etc. we would love to hear them!
\
Thank you again for your support!  We couldn't do this without you!
\
Sincerely,
\
Rob Phillips, Founder (http://brevidy.com/rob)