/ sign up footer
.landing_signup
  %h3.ras.informationField.signup_box
    Not a member? Sign up and start sharing videos with other people today!
    = link_to "Sign Up", signup_path, :class => "mls ram medium green button"