.content-titles
  %ul
    -#%li
    -#  = link_to("Popular Videos", explore_path, :class => "lighten-to-blue")

    -#%li
    -#  = link_to("Suggested Channels", suggested_channels_path, :class => "lighten-to-blue")

    %li
      = link_to("Recent Videos", explore_path, :class => "lighten-to-blue")
      
    %li
      = link_to("Find People", find_people_path, :class => "lighten-to-blue")