.info-message.mbl
  %p 
    %strong Note:
    Videos will be trimmed to 10 minutes in length and can only be a maximum of 750 MB in size.
    #{link_to("Read more of the frequently asked questions about videos", video_faq_path)}
  
  %p
    %strong General guidelines: 
    No nudity, pornography, racism, hate speech, violence, or copyrighted material.  #{link_to("View all community guidelines", video_guidelines_path)}