- # Google Analytics
:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23816026-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

- # GetSatisfaction Code
:javascript
  var is_ssl = ("https:" == document.location.protocol);
  var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
:javascript
  var feedback_widget_options = {};

  feedback_widget_options.display = "overlay";
  feedback_widget_options.company = "brevidy";
  feedback_widget_options.placement = "left";
  feedback_widget_options.color = "#202020";
  feedback_widget_options.style = "idea";

  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);

- # AddThis script

// Template for AddThis sharing
:javascript
  var addthis_share = {
     templates: {
        twitter: "{{title}} {{url}} (via @brevidy)"
     }
  }
  
%script{:src => "http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4e6fbcbf4b963006#domready=1", :type => "text/javascript"}