- current_user_owns?(video) ? personalized_title = "your" : personalized_title = "#{get_object_owner(video).name}'s"
- video_title ||= video.title.blank? ? "#{personalized_title} video" : video.title
= link_to("#{video_title}", user_video_path(get_object_owner(video), video))