- # Dark Content Wrapper
.lower-wrapper.no-header

  - # Main (White) Content Wrapper
  .content-wrapper.standard-padding
  
    = cache("privacy_page") do

      %p.gray.mtl Last Updated: January 24, 2012

      %p
        %strong
          This privacy policy describes how we collect and use personal data provided by our users. If you have any questions or comments regarding our privacy policy, please contact us at
          #{mail_to("support@brevidy.com", nil, {:encode => "hex"})}

      %ul.unstyled
        %li
          %h4 Changes to the Terms of Service
        %li
          %p
            If we make a material change in the way we use the personal data of our users, we will notify you by making the revised version available on this page. You should revisit this Privacy Policy on a regular basis as revised versions will be binding on you.. Your use of the website after any published change signifies your consent to the application of the revised policy to all information contributed before or after the date of those changes.
      
      
      %ul.unstyled
        %li
          %h4 User Account Data
        %li
          %p
            Anyone over the age of 13 may create a user account. You need to have a user account to post videos, comment on videos, badge videos, and perform other actions on the site.  When you sign up for a user account, you are required to provide:
            %br
            %ul
              %li
                %strong
                  username - 
                we use this to identify you and the content you create
              %li
                %strong
                  full name - 
                we use this to identify you by name in communications and to allow other users to search for you on Brevidy by name
              %li
                %strong
                  email address - 
                we use this address to communicate service announcements and important updates about the site, which you consent to receive, and to allow others to search for you on Brevidy by this address
              %li
                %strong 
                  password - 
                we use this for authentication of your account and recommend you create a strong password that is unique only to Brevidy
              %li
                %strong
                  birthday - 
                we use this for age authentication only in order to verify you are over 13 years of age
            %p.mtm
              If you are logged in, any content you post will be identified under your username.

      %ul.unstyled
        %li
          %h4 Community Features
        %li
          %strong User Profiles
          %br/
          Once you have a user account, you may voluntarily provide other information to enhance your profile, including a photo or image, interests, etc. This information will be disclosed publicly on the site under your profile. You are not required to provide this information. We offer users the opportunity to provide this profile information in order to enhance the richness of our online community. We may use the information you provide us in your profile to customize your experience by showing you content relevant to your areas of interest or location.
          %br/
          %br/
          %strong Your Videos or Comments
          %br
          It goes without saying that any personally identifiable information that you submit on any video, comment or elsewhere on the site can be read, collected, or used by other users of the site and could be used to send you unsolicited messages. We are not responsible for the personally identifiable information you choose to submit to the website and we strongly recommend not giving out any additional information to others.

      %ul.unstyled
        %li
          %h4 Cookies and Web Logs
        %li
          When you log into the site, we may set a persistent cookie, which will allow us to recognize you as an existing registered user and avoid the need to log into the site again. These cookies may last for over a year. You may clear these cookies in your browser after a session in which you have logged in or they are automatically deleted when you explicitly Logout from Brevidy.
          %br/
          %br/
          We may also set additional cookies to record certain preferences or actions on the site. You may clear these cookies in your browser at any time.
          %br/
          %br/
          Our servers automatically record information that your browser sends whenever you visit a website. We store this data in files called web logs. These web logs may include information such as your Internet Protocol address, browser type, browser language, the site you came from, the next site you visit and cookies that may uniquely identify your browser.

      %ul.unstyled
        %li
          %h4 Advertisers' Cookies
        %li
          We may use third-party advertising companies to serve ads when you visit our site. When you view ads on our site, a unique third-party cookie or cookies may be placed on your browser by the ad-serving company. In addition, the ad-serving companies may use web beacons to help manage and optimize our online advertising. The information collected by the ad-serving companies may be used to target ads to you on this site and on other sites that you visit. To "opt-out" of these ad-serving cookies and web beacons, please click here: #{link_to(nil, "http://www.networkadvertising.org/consumer/opt_out.asp", :class => "inlinelink")}

      %ul.unstyled
        %li
          %h4 Information for Contests and Sweepstakes
        %li
          If we offer a contest or sweepstakes, we may ask for additional information such as name, address, and phone number in order to provide the winner with their prize. We would not use that information for any other purpose unless we receive consent at the time you provide the information.

      %ul.unstyled
        %li
          %h4 Special Rules for Children
        %li
          Children under the age of 13 are not eligible to become registered users. If you are under 18, we also ask that you not include any personally identifiable information in your posts or communication on the site.

      %ul.unstyled
        %li
          %h4 Information Sharing
        %li
          %strong Third Parties
          %br/
          We will never provide your personally identifiable information to any third parties without your consent, except as described under the "Our Service Providers" and "Investigating Potential Abuse" sections. We may provide third parties with aggregated or anonymous data about our users and their usage of our services that do not contain any individual's personally identifiable information.
          %br/
          %br/
          %strong Our Service Providers
          %br
          We may hire third-parties to help us provide our services to you. These services may include technical services, customer support, email message deployment, data processing and other services. It may be necessary for us to provide these third parties with some of your personal information in order for them to fulfill their services. For example, we use a third party (SendGrid) to send our e-mails, so we will provide them your email address and your first and last name as necessary to provide you with communications from Brevidy. These third parties do not retain, share or store any personally identifiable information except to provide these services and are bound by strict confidentiality agreements which limit their use of such information to providing services to us.

      %ul.unstyled
        %li
          %h4 Links to Other Sites
        %li
          This web site contains links to other sites that are not owned or controlled by us, including links in advertisements. Please be aware that we are not responsible for the privacy practices of these sites. We encourage you to be aware when you leave our site and to read the privacy statements of each and every web site to which you provide information.

      %ul.unstyled
        %li
          %h4 Investigating Potential Abuse
        %li
          We may use any information provided to us by a user, including personally identifiable information, along with any data gathered from our web logs and from third parties to conduct investigations, and we may disclose this information to third parties, including law enforcement officials, investigators, or private parties seeking to protect and enforce their rights; if
          %br/
          %br/
          %ul
            %li
              we have a good faith belief that it is necessary to comply with a court order, judicial proceeding, legal process, subpoena or warrant;
            %li
              we have a good faith belief that it is necessary to exercise our legal rights or defend against legal claims; or
            %li
              we believe that your actions violate the law or our Terms of Service or threaten the rights, property, or safety of our company, our users, or others.

      %ul.unstyled
        %li
          %h4 Business Transfer
        %li
          If we sell all or a portion of our business, we may transfer some or all of your information as a part of the sale.
        
      %ul.unstyled
        %li
          %h4 Accessing and Changing Your Account Information
        %li
          You can review your personal information and make any desired changes at any time by logging in to your account and editing the information on your profile or account page.  We may retain certain data contributed by you if it may be necessary to prevent fraud or future abuse, or for legitimate business purposes, such as analysis of aggregated, non-personally-identifiable data, account recovery, or if required by law. All retained data will continue to be subject to the terms of our Privacy Policy.

      %ul.unstyled
        %li
          %h4 Security
        %li
          In order to secure your personal information, access to your user account from the website is password-protected. While we take security very seriously, no data transmission over the Internet or information storage technology is 100% secure. If you suspect that your Brevidy account has been compromised, please email us immediately at #{mail_to("support@brevidy.com", nil, {:encode => "hex", :class => "inlinelink"} )}.
          %br/
          %br/
          We disclaim any responsibility for inaccuracies on the site. We are not responsible for any loss, harm, error or omission that may result from the use of the site or the services we provide or for any service failure, interruption, or security breach, regardless of the cause.