- # Content Wrapper
.lower-wrapper.no-header

  - # Main (White) Content Wrapper
  .content-wrapper.standard-padding
  
    = cache("tos_page") do
  
      %p.gray.mtl Last Updated: January 24, 2012

      %p
        %strong
          This is an important document which you must consider carefully when choosing whether to use the Brevidy website at any time.  In order to make sure that no one's use of the site harms or violates the rights of others, your use of the site is governed by these Terms and Conditions (the "Terms"), as well as by Brevidy's Privacy Policy:

      %ul.unstyled
        %li
          %h4 Changes to the Terms of Service
        %li
          %p
            We may modify the Terms of Service from time to time. When changes are made, we will notify you by making the revised version available on this page. You should revisit these Terms of Service on a regular basis as revised versions will be binding on you.

      %ul.unstyled
        %li
          %h4 User Accounts
        %li
          %p
            Anyone over the age of 13 may create a user account. You need to have a user account to post videos, comment on videos, badge videos, and perform other actions on the site.
            %br
            %br
            All of the information that you supply to us in creating your user account must be accurate. 
            You are responsible for maintaining the confidentiality of your account and password. 
            %br
            %br
            We reserve the right at all times to terminate users or reclaim usernames. We may restrict and / or reclaim, without warning, any username that violates these Terms and Conditions, including any username that uses 
            another person's identity, violates a trademark, or violates our content guidelines.
            %br
            %br
            We may use the email you provide to us in your user account to provide you with service messages and updates. By becoming a site member you are consenting to the receipt of these communications.

      %ul.unstyled
        %li
          %h4 Content You Post on Brevidy
        %li
          %p
            You are responsible for all content that you post on or transmit through the site. You may not post content that:
            %br
            %br
            %ul
              %li
                %p
                  infringes the copyright, trademark, patent right or other proprietary right of any person or that is used without the permission of the owner
              %li
                %p
                  you know to be inaccurate
              %li
                %p
                  is pornographic, sexually explicit or obscene
              %li
                %p
                  exploits children or minors
              %li
                %p
                  violates the rights of privacy or publicity of any person
              %li
                %p
                  is libelous, slanderous or defamatory
              %li
                %p
                  contains any personally identifying information about any person without their consent or about any person who is a minor
              %li
                %p
                  may be deemed generally offensive to the site community, including blatant expressions of bigotry, prejudice, racism, hatred or profanity
              %li
                %p
                  promotes or provides instructional information about illegal or illicit activities or
              %li
                %p
                  contains software viruses or any other computer code, files or programs designed to destroy, interrupt or otherwise limit the functionality of any computer software, computer hardware or other equipment
          %br
          %p
            We may remove any content that violates these Terms and Conditions or that we determine is otherwise not appropriate for the site.
            %br
            %br
            When you post or transmit content on or through the site, you grant Brevidy and our affiliates and partners a nonexclusive, perpetual, irrevocable, worldwide, sub-licensable, royalty-free license to use, store, display, publish, transmit, transfer, distribute, reproduce, rearrange, edit, modify, aggregate, create derivative works of and publicly perform the content that you submit to the site for any purpose, in any form, medium, or technology now known or later developed. You also grant us a license to use your name, city and state in connection with our use of any public content you provide to us. You also consent to the display of advertising within or adjacent to any of your content.
     
      %ul.unstyled
        %li
          %h4 Your Use of Brevidy
        %li
          %p
            All of the content available through the site is protected by our copyrights or trademarks and the copyrights or trademarks of our partners and/or users. You may not use, store, display, publish, transmit, distribute, modify, reproduce, create derivative works of or in any way exploit any of this content, in whole or in part, outside of the specific usage rights granted to you by Brevidy as part of the services we provide.
            %br
            %br
            You may not use the site to do any of the following:
            %ul
              %li
                %p
                  harass or advocate harassment of another person or entity
              %li
                %p
                  perform any activities that violate any state, local, federal US laws, or international laws or regulations
              %li
                %p   
                  provide resources to or otherwise support any organization(s) designated by the United States government as a foreign terrorist organization under section 219 of the Immigration and Nationality Act
              %li
                %p
                  impersonate any person or entity or misrepresent in any way your affiliation with a person or entity
              %li
                %p
                  transmit unsolicited mass mailings or 'spam'
              %li
                %p
                  collect or store any information about other users or members, other than in the normal course of using the site for its intended purpose of facilitating voluntary communication among users
              %li
                %p
                  transmit any virus, worm, defect, Trojan horse or similar destructive or harmful item
            %br
            %p
              You may not do any of the following to the site:
            %ul
              %li
                %p
                  use it in any manner that could damage, disable, overburden, disrupt or impair the site or our network or interfere with any other party's use and enjoyment of the site
              %li
                %p   
                  modify, adapt, translate or reverse engineer the site
              %li
                %p
                  attempt to circumvent privacy controls or any type of authentication system
              %li
                %p
                  use any robot, spider, site search/retrieval application, or other device to retrieve or index any portion of the site (though Brevidy grants the operators of public search engines permission to use spiders to copy materials from the site for the sole purpose of creating publicly available searchable indices of the content on the site that link back to the site for the full text of the content)
              %li
                %p
                  frame the site or reformat it in any way or
              %li
                %p
                  create user accounts using any automated means or under false pretenses.
          %br
          %p
            All of the content available through the site is subject to the copyrights and trademarks of us, our partners or users. 
            %br
            %br
            Except as described in the previous paragraph, you may not store, display, publish, transmit, distribute, modify, reproduce, create derivative works of or in any way exploit any of the site content, in whole or in part.

      %ul.unstyled
        %li
          %h4 Third-Party Sites, Products, and Services
        %li
          %p
            The site may provide access and contain links to third party Internet sites and services. Your use of those sites and services is subject to the terms and conditions of those sites. We are not responsible for the activities of any third parties site.

      %ul.unstyled
        %li
          %h4 Embeddable Items
        %li
          %p
            Brevidy may make available videos, graphics or other items that you can embed on your own website. If you use any of these embeddable items, you must include a prominent link back to the site on the pages containing the embeddable item and you may not modify, build upon, or block any portion of the embeddable item in anyway or present it in any manner that is false or misleading.

      %ul.unstyled
        %li
          %h4 Links
        %li
          %p
            Brevidy has not reviewed all of the sites (both internally and externally) linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Brevidy of the site. Use of any such linked web site is at the user's own risk.

      %ul.unstyled
        %li
          %h4 Intellectual Property Rights Policy
        %li
          %p
            Brevidy respects the rights of intellectual property holders. If you believe that any content on the site violates these Terms and Conditions or your intellectual property rights, you can report such violation to us. In the case of an alleged infringement, please provide the following information:
            %br
            %br
            %ul
              %li
                %p
                  A description of the copyrighted work or other intellectual property that you claim has been infringed
              %li
                %p
                  A description of where the material that you claim is infringing is located on the site (including the exact URL)
              %li
                %p
                  An address, a telephone number, and an e-mail address where we can contact you
              %li
                %p
                  A statement that you have a good-faith belief that the use is not authorized by the copyright or other intellectual property rights owner, by its agent, or by law
              %li
                %p
                  A statement by you under penalty of perjury that the information in your notice is accurate and that you are the copyright or intellectual property owner or are authorized to act on the owner's behalf
              %li
                %p   
                  Your electronic or physical signature
            %br
            %p
              We may request additional information before we remove allegedly infringing material. You may report a copyright violation by providing the above information to the Brevidy agent at 
              #{mail_to("support@brevidy.com", nil, {:encode => "hex"})}
              %br
              %br
              We will terminate the user account of any user who repeatedly submits content that violates our intellectual property policies.

      %ul.unstyled
        %li
          %h4 Our Rights and Responsibilities
        %li
          %p
            We maintain the right to do any of the following at any time, with or without prior notice:
            %br
            %br
            %ul
              %li
                %p
                  restrict, suspend, or terminate your access to all or any part of our services;
              %li
                %p
                  change, suspend, or discontinue all or any part of our services;
              %li
                %p   
                  refuse, move, or remove any content;
              %li
                %p
                  refuse to register any username that may be deemed offensive or restricted and
              %li
                %p   
                  establish general practices, fees and policies concerning the site and the services we provide
            %br
            %p
              We do not make any representations about the accuracy of any content posted on the site, whether posted by us, our users, or third parties. All information and services provided on the site are offered "as-is" without any express or implied warranty, and you should not rely on the information presented on the site. Your use of the site is at your own risk.
              %br
              %br
              You understand that by using the site, you may be exposed to content that you find offensive or objectionable.
              %br
              %br
              We disclaim any responsibility for inaccuracies on the site. We are not responsible for any loss, harm, error or omission that may result from the use of the site or the services we provide or for any service failure or interruption, regardless of the cause.

      %ul.unstyled
        %li
          %h4 Availability 
        %li
          %p
            Brevidy does not warrant that the service from this site will be uninterrupted, timely or error free, although it is provided to the best of our ability. By using this service you thereby indemnify Brevidy, its employees, agents and affiliates against any loss or damage, in whatever manner, howsoever caused.

      %ul.unstyled
        %li
          %h4 Applicable Law
        %li
          %p
            These Terms shall be construed in accordance with the laws of the State of Delaware, and the parties irrevocably consent to bring any action to enforce these Terms and Conditions before an arbitration panel or before a court of competent jurisdiction in Delaware if seeking interim or preliminary relief or enforcement of an arbitration award.

      %ul.unstyled
        %li
          %h4 Consequences of Violation of these Terms
        %li
          %p
            By utilizing the site you agree to indemnify, defend and hold Brevidy and its officers, directors, employees, agents, and affiliates harmless from and against any and all liability, losses, costs, and expenses (including attorneys' fees) incurred by Brevidy through your use of the site or your posting or transmission of content in violation of these Terms. You also agree to take sole responsibility for any royalties, fees or other monies owed to any person by reason of any content you post or transmit through the site or the services we provide.
            %br
            %br
            We reserve the right to terminate your access to the site if you fail to abide by these Terms and Conditions. We also reserve the right to inform law enforcement authorities of any potential illegal activities and to provide them with all information about the account through which such activities occurred, as further described in our Privacy Policy.