- # Dark Content Wrapper
.lower-wrapper.no-header

  - # Main (White) Content Wrapper
  .content-wrapper.standard-padding
  
    = cache("video_guidelines_page") do
      %h3.mtl Brevidy Video Guidelines
  
      %ul
        %li
          No nudity or pornographic content allowed.  
        %li
          No racism, hate speech, or violent acts (i.e. street fights).  We understand that 
          everyone has their own opinion, but we firmly believe everyone should be respected.
          Do your part to build up this great community!
        %li
          No using audio/video/photos/etc that are copyrighted by someone other than you 
          in your videos unless you can prove you have received prior approval by the copyright holder.  
          We rely on the user community to report instances of copyright infringement.  If your video is 
          flagged for review and we find that you have used copyrighted material in it, we will remove 
          the video and send you an e-mail asking that you upload the video again with only your own 
          original content.  Repeated violations of this guideline can result in deactivation or termination
          of your account.
        %li 
          Be kind to others.  If we feel you are hurting another person's experience on Brevidy 
          with rude, obscene, or otherwise inappropriate comments, we will send you an e-mail 
          warning of possible account deactivation.  If it is serious enough, we will skip the e-mail 
          and terminate your account.  
        %li
          If you feel there is a concern with a video that needs to be brought to our attention, please 
          flag the video for review.  That being said, please do not abuse the flagging feature.  If we 
          feel that you are inappropriately flagging videos, we may deactivate or terminate your account.